<html lang="en">
<head>
  <script src="https://unpkg.com/@shopify/app-bridge@3"></script>
</head>
<body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var AppBridge = window['app-bridge'];
      var createApp = AppBridge.createApp;
      var actions = AppBridge.actions;
      var Redirect = actions.Redirect;

      const app = createApp({
        apiKey: '<%= SinatraApp.settings.api_key %>',
        host: '<%= shop_host %>',
        forceRedirect: true,
      });
      const redirect = Redirect.create(app);
      redirect.dispatch(Redirect.Action.REMOTE, '<%= redirectUrl %>');
    });
  </script>
</body>
</html>
